extends ../main

block head
    title Prestadores Externos

block content
    div(class="uk-container")
        //- titulo y boton de agregar
        div(class="uk-flex uk-flex-between uk-margin-top uk-flex-middle uk-flex-wrap")
            div(class="titulo_1 uk-text-left   uk-text-large   uk-text-bold uk-text-primary uk-margin-bottom") Prestadores externos
            div(class="uk-animation-toggle uk-margin-bottom" tabindex="0")
                a(class="uk-text-right uk-flex-inline uk-flex uk-flex-middle uk-text-primary uk-link-heading uk-animation-shake" href="#modal-agregar" uk-toggle)
                    img(src="/icons/more.png" style="width:20px;height:20px;margin-top:3px" class="uk-margin-small-right")
                    div Agregar prestador
        //- barra de busqueda
        form(class="uk-flex")
            div(class="uk-search uk-search-default uk-width-expand")
                a(href="#" uk-search-icon)
                input(class="uk-search-input" type="search" placeholder="Buscar...")
            //- boton de filtrar
            button(class="uk-button uk-button-primary uk-width-auto" href="#")
                img(src="/icons/filterWhite.png" style="width:20px;height:20px;" class="")
            div(uk-dropdown="mode: click")
                ul(class="uk-list")
                    li() sugerencia 1
                    li() sugerencia 2
                    li() sugerencia 3
        //- contenido
        div(class="uk-flex uk-flex-wrap-reverse uk-width-1-1")
            //- tabla
            div(class="uk-card uk-card-default uk-width-1-1 uk-margin-top")
                div(class="uk-card-body uk-text-center")
                    div(class="uk-overflow-auto uk-margin-top")
                        table(class="uk-table uk-table-divider")
                            thead
                                tr
                                    th(class="uk-text-center") ID
                                    th(class="uk-text-center") Nombre
                                    th(class="uk-text-center") ÁREA
                                    th(class="uk-text-center") TELÉFONO
                            tbody
                                tr
                                    td 
                                        a(href="#modal-info" uk-toggle) 1
                                    td
                                        a(href="#modal-info" uk-toggle) Jose Adolfo Lemus Magana
                                    td
                                        a(href="#modal-info" uk-toggle) Plomeria
                                    td
                                        a(href="#modal-info" uk-toggle) 4433123456
                                tr
                                    td 2
                                    td Dulce Gabriela Marin Rendon
                                    td Carpinteria
                                    td 4433123456
                                tr
                                    td 3
                                    td Oscar Andre Huerta Garcia
                                    td Carpinteria
                                    td 4433123456
                                tr
                                    td 4
                                    td Leonardo Danien Lopez Lopez
                                    td Electrisista
                                    td 4433123456
                                tr
                                    td 5
                                    td Jose Agustin Aguilar Solorzano
                                    td Herreria
                                    td 4433123456
                                tr
                                    td 6
                                    td Fernando Adrian Garcia Sanchez
                                    td Herreria
                                    td 4433123456
                                tr
                                    td 6
                                    td Fernando Adrian Garcia Sanchez
                                    td Herreria
                                    td 4433123456
                                tr
                                    td 6
                                    td Fernando Adrian Garcia Sanchez
                                    td Herreria
                                    td 4433123456
                                tr
                                    td 6
                                    td Fernando Adrian Garcia Sanchez
                                    td Herreria
                                    td 4433123456
                                tr
                                    td 6
                                    td Fernando Adrian Garcia Sanchez
                                    td Herreria
                                    td 4433123456
            //- informacion completa
            div(id="modal-info" class="uk-flex-top" uk-modal)
                div(class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical")
                    button(class="uk-modal-close-default" type="button" uk-close)
                    div(class="uk-container uk-margin-top uk-margin-left uk-margin-right")
                        div(class="uk-flex uk-flex-between uk-flex-middle uk-flex-wrap")
                            div(class="uk-text-left uk-text-primary uk-margin-bottom") INFORMACIÓN COMPLETA
                            div(class="uk-animation-toggle uk-margin-bottom" tabindex="0")
                                a(class="uk-text-right uk-flex-inline uk-flex uk-flex-middle uk-text-primary uk-link-heading" href="#modal-editar" uk-toggle)
                                    img(src="/icons/edit.png" style="width:20px;height:20px;margin-top:3px" class="uk-margin-small-right")
                                    div Editar
                    div(class="uk-width-1-1 uk-flex uk-flex-wrap")
                        form(class="uk-width-1-1")
                            div(class="uk-width-1-1 uk-flex uk-flex-wrap")
                                div(class="uk-width-1-2@s uk-margin-top uk-margin-small-left")
                                    div()
                                        | ID
                                    label() 
                                        | 1
                                div(class="uk-width-expand@s uk-margin-top uk-margin-small-left")
                                    div()
                                        | Estatus
                                    span(class="uk-label uk-label-success")
                                        | Activo
                            div(class="uk-width-1-1 uk-flex-uk-flex-wrap")
                                div(class="uk-width-1-1@s uk-margin-top uk-margin-small-left")
                                    div()
                                        | Nombre
                                    label()
                                        | Jose Adolfo Lemus Magana
                            div(class="uk-width-1-1 uk-flex uk-flex-wrap")
                                div(class="uk-width-1-2@s uk-margin-top uk-margin-small-left")
                                    div()
                                        | Área
                                    label() 
                                        | area del prestador
                                div(class="uk-width-expand@s uk-margin-top uk-margin-small-left")
                                    div()
                                        | Teléfono
                                    label()
                                        | 4444444444
                            div(class="uk-width-1-1 uk-flex uk-flex-wrap")
                                div(class="uk-width-1-2@s uk-margin-top uk-margin-small-left")
                                    div()
                                        | Correo
                                    label() 
                                        | correo@ejemplo.com
                                div(class="uk-width-expand@s uk-margin-top uk-margin-small-left")
                                    div()
                                        | RFC
                                    label()
                                        | 123456789ASWR
                            div(class="uk-width-1-1 uk-flex uk-flex-wrap")
                                div(class="uk-width-1-2@s uk-margin-top uk-margin-small-left")
                                    div()
                                        | Cédula
                                    label() 
                                        | 123456789ASWR
                                div(class="uk-width-expand@s uk-margin-top uk-margin-small-left")
                                    div()
                                        | Número de DRO
                                    label()
                                        | 1111111
                            div(class="uk-width-1-1 uk-flex uk-flex-wrap")
                                div(class="uk-width-1-2@s uk-margin-top uk-margin-small-left")
                                    div()
                                        | Número de cuenta
                                    label() 
                                        | 1234567891258796
                                div(class="uk-width-expand@s uk-margin-top uk-margin-small-left")
                                    div()
                                        | Fecha de registro
                                    label()
                                        | 02 de Enero de 2020
            //- agregar prestador externo
            div(id="modal-agregar" class="uk-flex-top" uk-modal)
                div(class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical")
                    button(class="uk-modal-close-default" type="button" uk-close)
                    div(class="uk-container")
                        div(class="uk-flex uk-flex-between uk-flex-middle uk-flex-wrap")
                            div(class="uk-text-left uk-text-primary uk-margin-bottom") AGREGAR PRESTADOR EXTERNO
                    div(class="uk-width-1-1 uk-flex uk-flex-wrap uk-container")
                        form(class="uk-width-1-1")
                            div(class="uk-width-1-1 uk-flex-uk-flex-wrap")
                                div(class="uk-width-1-2@s uk-margin-top uk-margin-small-left")
                                    div()
                                        | Estatus
                                        select(class="uk-select")
                                            option(value="") Activo
                                            option(value="") Inactivo
                            div(class="uk-width-1-1 uk-flex-uk-flex-wrap")
                                div(class="uk-width-1-1@s uk-margin-top uk-margin-small-left")
                                    div()
                                        | Nombre
                                    input(type="text" class="uk-input" placeholder="Nombre completo")
                            div(class="uk-width-1-1 uk-flex uk-flex-wrap")
                                div(class="uk-width-1-2@s uk-margin-top uk-margin-small-left")
                                    div()
                                        | Área
                                    input(type="text" class="uk-input" placeholder="Área")
                                div(class="uk-width-expand@s uk-margin-top uk-margin-small-left")
                                    div()
                                        | Teléfono
                                    input(type="text" class="uk-input" placeholder="Teléfono")
                            div(class="uk-width-1-1 uk-flex uk-flex-wrap")
                                div(class="uk-width-1-2@s uk-margin-top uk-margin-small-left")
                                    div
                                        | Correo
                                    input(type="text" class="uk-input" placeholder="correo@ejemplo.com")
                                div(class="uk-width-expand@s uk-margin-top uk-margin-small-left")
                                    div()
                                        | RFC
                                    input(type="text" class="uk-input" placeholder="13 dígitos")
                            div(class="uk-width-1-1 uk-flex uk-flex-wrap")
                                div(class="uk-width-1-2@s uk-margin-top uk-margin-small-left")
                                    div()
                                        | Cédula
                                    input(type="text" class="uk-input" placeholder="7-8 dígitos")
                                div(class="uk-width-expand@s uk-margin-top uk-margin-small-left")
                                    div()
                                        | Número de DRO
                                    input(type="text" class="uk-input" placeholder="7-8 dígitos")
                            div(class="uk-width-1-2@s uk-margin-small-left uk-margin-top")
                                div()
                                    | Número de cuenta
                                input(type="text" class="uk-input" placeholder="16 dígitos")
                            div(class="uk-width-1-1@s uk-margin-small-left uk-margin-top")
                                div(class="uk-align-right margin-top uk-flex uk-flex-wrap")
                                    a(class="uk-text-primary uk-flex-inline uk-flex uk-flex-middle uk-link-heading" href="#") Cancelar
                                    button(class="uk-button uk-button-default uk-flex-inline uk-flex uk-flex-middle uk-margin-left") Guardar
            //- editar prestador externo
            div(id="modal-editar" class="uk-flex-top" uk-modal)
                div(class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical")
                    button(class="uk-modal-close-default" type="button" uk-close)
                    div(class="uk-container uk-margin-top uk-margin-left uk-margin-right")
                        div(class="uk-flex uk-flex-between uk-flex-middle uk-flex-wrap")
                            div(class="uk-text-left uk-text-primary uk-margin-bottom") EDITAR INFORMACIÓN
                            div(class="uk-animation-toggle uk-margin-bottom" tabindex="0")
                                a(class="uk-text-right uk-flex-inline uk-flex uk-flex-middle uk-text-danger uk-link-heading" href="/prestadores/editar")
                                    img(src="/icons/delete.png" style="width:20px;height:20px;margin-top:3px" class="uk-margin-small-right")
                                    div Eliminar
                    div(class="uk-flex uk-flex-wrap-reverse uk-container")
                        form(class="uk-width-1-1")
                            div(class="uk-width-1-1 uk-flex uk-flex-wrap")
                                div(class="uk-width-1-2@s uk-margin-top uk-margin-small-left")
                                    div()
                                        | ID
                                    label() 
                                        | 1
                                div(class="uk-width-expand@s uk-margin-top uk-margin-small-left")
                                    div()
                                        | Estatus
                                    select(class="uk-select")
                                        option(value="") Activo
                                        option(value="") Inactivo
                            div(class="uk-width-1-1 uk-flex uk-flex-wrap")
                                div(class="uk-width-1-1@s uk-margin-top uk-margin-small-left")
                                    div()
                                        | Nombre
                                    input(type="text" class="uk-input" placeholder="Nombre completo")
                            div(class="uk-width-1-1 uk-flex uk-flex-wrap")
                                div(class="uk-width-1-2@s uk-margin-top uk-margin-small-left")
                                    div()
                                        | Área
                                    input(type="text" class="uk-input" placeholder="Área")
                                div(class="uk-width-expand@s uk-margin-top uk-margin-small-left")
                                    div()
                                        | Teléfono
                                    input(type="text" class="uk-input" placeholder="Teléfono")
                            div(class="uk-width-1-1 uk-flex uk-flex-wrap")
                                div(class="uk-width-1-2@s uk-margin-top uk-margin-small-left")
                                    div()
                                        | Correo
                                    input(type="text" class="uk-input" placeholder="correo@ejemplo.com")
                                div(class="uk-width-expand@s uk-margin-top uk-margin-small-left")
                                    div()
                                        | RFC
                                    input(type="text" class="uk-input" placeholder="13 dígitos")
                            div(class="uk-width-1-1 uk-flex uk-flex-wrap")
                                div(class="uk-width-1-2@s uk-margin-top uk-margin-small-left")
                                    div()
                                        | Cédula
                                    input(type="text" class="uk-input" placeholder="7-8 dígitos")
                                div(class="uk-width-expand@s uk-margin-top uk-margin-small-left")
                                    div()
                                        | Número de DRO
                                    input(type="text" class="uk-input" placeholder="7-8 dígitos")
                            div(class="uk-width-1-1 uk-flex uk-flex-wrap")
                                div(class="uk-width-1-2@s uk-margin-top uk-margin-small-left")
                                    div()
                                        | Número de cuenta
                                    input(type="text" class="uk-input" placeholder="16 dígitos")
                                div(class="uk-width-expand@s uk-margin-top uk-margin-small-left")
                                    div()
                                        | Fecha de registro
                                    input(type="text" class="uk-input" placeholder="Fecha de registro")
                            div(class="uk-width-1-1@s uk-margin-small-left uk-margin-top")
                                div(class="uk-align-right margin-top")
                                    a(class="uk-text-primary uk-flex-inline uk-flex uk-flex-middle uk-link-heading" href="#") Cancelar
                                    button(class="uk-button uk-button-default uk-flex-inline uk-flex uk-flex-middle uk-margin-left") Guardar
        //- paginacion
        div(class="uk-width-1-1")
            ul(class="uk-pagination uk-margin-top")
                li()
                    a(href="#")
                        span(class="uk-margin-small-right" uk-pagination-previous) 
                        | Anterior
                li(class="uk-margin-auto-left")
                    a(href="#") Siguiente
                        span(class="uk-margin-small-left" uk-pagination-next)
        div(class="uk-width-1-1")
            each prestador in prestadores
                ul
                    li #{prestador.name}
                    li #{prestador.id}