extends ../main

block head
    title ConsultarQ - Servicios
    link(rel="stylesheet" href="/stylesheets/others.css")
    <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>

block content
    div(class="uk-container")
        div(class="uk-flex uk-flex-between uk-margin-top uk-flex-middle uk-flex-wrap")
            div(class="uk-text-left uk-text-large uk-text-bold uk-text-primary uk-margin-bottom") Cartera de servicios
            div(class="uk-animation-toggle uk-margin-bottom" tabindex="0")
                a(href="/servicios/agregar-servicio" class="uk-text-right uk-flex-inline uk-flex uk-flex-middle uk-text-primary uk-link-heading uk-animation-shake uk-animation-fast")
                    img(src="/img/iconos/more.png" style="width:20px;height:20px;margin-top:3px;" class="uk-margin-small-right")
                    div Agregar servicio
        div(class="uk-child-width-1-2@s uk-grid-match uk-margin-top" uk-grid)
            div
                div(class="uk-card uk-card-default uk-card-body uk-padding-remove")
                    div(class="uk-card-header uk-card-primary" style="padding:8px") COMPARTIR CARTERA DE SERVICIOS
                    div(class="uk-width-1-1 uk-flex flex-wrap div-service-res-wrap" style="padding:10px")    
                        div(class="uk-width-3-5@l uk-flex uk-flex-wrap div-service-res") 
                            each doc in docu
                                if doc
                                    a(class="uk-width-auto uk-flex uk-flex-middle" style="color:#666; margin-right:5px")
                                        img(src="/img/iconos/pdfGray.png" style="width:15px;height:15px;" class="uk-margin-small-right") 
                                        |#{doc.pdf}
                            div(class="uk-width-1-2 uk-flex uk-flex-middle uk-text-small")
                                a(href="#modal-editarPDF" uk-toggle)
                                    img(src="/img/iconos/edit.png" style="width:15px;height:15px; margin-right:5px; margin-bottom:3px") 
                                    |Editar pdf
                        div(class="uk-width-2-5@l uk-flex uk-flex-wrap div-compartir-service div-service-res")
                            div(class="uk-width-1-1 uk-text-mute uk-text-bold") Compartir en:
                            a(class="uk-width-1-1 uk-flex uk-flex-middle" style="color:#666;") 
                                img(src="/img/iconos/whats.png" style="width:15px;height:15px;" class="uk-margin-small-right") 
                                |WhatsApp
                            a(class="uk-width-1-1 uk-flex uk-flex-middle" style="color:#666;")
                                img(src="/img/iconos/mssg.png" style="width:15px;height:15px;" class="uk-margin-small-right") 
                                |Messenger
                            a(class="uk-width-1-1 uk-flex uk-flex-middle" style="color:#666;")
                                img(src="/img/iconos/gmail.png" style="width:15px;height:15px;" class="uk-margin-small-right") 
                                |Correo electrónico
            //- FOREACH
            each service in servicios
                div
                    div(class="uk-card uk-card-default uk-card-body uk-padding-remove")
                        div(class="uk-card-header uk-flex uk-flex-middle uk-text-emphasis" style="padding:8px;") 
                            img(src="/img/iconos/service.png" style="width:20px;height:20px;" class="uk-margin-small-right") 
                            a(href="/servicios/ver-servicio/"+service.id+"" class="uk-link-heading") #{service.name}
                            a(href="/servicios/editar-servicio/"+service.id+"" class="uk-position-right uk-margin-small-right a-edit-service a-hidden-ser uk-text-small")
                                img(src="/img/iconos/edit.png" style="width:15px;height:15px;" class="uk-margin-small-right") 
                                |Editar
                            a(href="/servicios/editar-servicio/"+service.id+"" class="uk-position-right uk-margin-small-right a-edit-service a-block-ser")
                                img(src="/img/iconos/edit.png" style="width:15px;height:15px;") 
                        div(class="uk-width-1-1 uk-flex flex-wrap " style="padding:10px; padding-left:40px; padding-bottom:0px")
                            if service.description.length > 150
                                div.uk-text-small.uk-text-break !{service.description.substr(0,150).replace('&n', ' ').replace('bsp;', ' ')+'...'}
                            else
                                div.uk-text-small.uk-text-break !{service.description}
            
    //- MODAL PARA EDITAR EL PDF DE SERVICIOS----------------
    div(id="modal-editarPDF" uk-modal)
        div(class="uk-modal-dialog uk-modal-body")
            div(class="uk-text-left  uk-text-large uk-text-bold uk-text-primary") Editar PDF
            div#errors-edit
            form(id="add-pdf-form" action="/servicios/editarPDF" method="POST" enctype="multipart/form-data")
                input(type="file" id="filePDF" name="filePDF"  accept="application/pdf"  required onchange="this.setAttribute('value', this.value);")
                //- div(class="js-upload uk-placeholder uk-text-center")
                //-     <span uk-icon="icon: cloud-upload"></span>
                //-     <span class="uk-text-middle">Arrastra el archivo aquí o</span>
                //-     div(uk-form-custom)
                //-         <input type="file" id="filePDF" name="filePDF"  accept="application/pdf" >
                //-         <span class="uk-link" style="margin-left:5px">Seleccionar</span>
                //- progress(id="js-progressbar" class="uk-progress" value="0" max="100" hidden)
                div(class="uk-width-1 uk-flex-right uk-flex")
                    button(class="uk-button uk-button-text uk-margin-medium-right uk-text-primary uk-text-capitalize uk-modal-close" type="button" ) Cancelar
                    button(class="uk-button uk-button-primary uk-border-rounded uk-text-capitalize" id="btnEnviar" type="submit") Agregar
    script.

        $(document).ready(function () {
            //- ajax para editar EL PDF
            $("#add-pdf-form").bind("submit",function(){
                // Capturamnos el boton de envío
                var btnGuardar = $("#btnEnviar");

                $.ajax({
                    type: $(this).attr("method"),
                    url: $(this).attr("action"),
                    data: new FormData(this),
                    dataType: "JSON",
                    processData: false,
                    contentType: false,
                    beforeSend: function(data){
                        /*
                        * Esta función se ejecuta durante el envió de la petición al
                        * servidor.
                        * */
                        // btnEnviar.text("Enviando"); Para button
                        btnGuardar.val("Enviando"); // Para input de tipo button
                        btnGuardar.attr("disabled","disabled");
                    },
                    complete:function(data){
                        /*
                        * Se ejecuta al termino de la petición
                        * */
                        btnGuardar.val("Enviar formulario");
                    },
                    success: function(data){
                        /*
                        * Se ejecuta cuando termina la petición y esta ha sido
                        * correcta
                        * */
                        $('#errors-edit').css('display', 'none');
                        UIkit.notification({
                            message: '<span uk-icon=\'icon: check\'></span>PDF actualizado con éxito!',
                            status: 'success',
                            pos: 'top-center',
                            timeout: 2000
                        });
                        setTimeout(
                        function()
                        {
                            window.location.href = window.location.origin + '/servicios'
                        }, 2000);
                    },
                    error: function(data){
                        /*
                        * Se ejecuta si la peticón ha sido erronea
                        * */
                        btnGuardar.removeAttr("disabled");
                        $('#errors-edit').css('display', 'block');
                        console.log(data.responseText);
                        var errors = JSON.parse(data.responseText);
                        var errorsContainer = $('#errors-edit');
                        errorsContainer.innerHTML = '';
                        var errorsList = '';
                        for (var i = 0; i < errors.length; i++) {
                            //if(errors[i].redirect)
                                //window.location.href = window.location.origin + '/logout'
                            errorsList += '<div class="uk-alert-danger" uk-alert><a class="uk-alert-close" uk-close></a><p>'+ errors[i].msg +'</p></div>';
                        }
                        errorsContainer.html(errorsList);

                        alert("Problemas al tratar de enviar el formulario");
                    }
                });
                // Nos permite cancelar el envio del formulario
                return false;
            });
        });

        var bar = document.getElementById('js-progressbar');
        UIkit.upload('.js-upload', {

            url: this,
            multiple: false,

            beforeSend: function () {
                console.log('beforeSend', arguments);
            },
            beforeAll: function () {
                console.log('beforeAll', arguments);
            },
            load: function () {
                console.log('load', arguments);
            },
            error: function () {
                console.log('error', arguments);
            },
            complete: function () {
                console.log('complete', arguments);
            },

            loadStart: function (e) {
                console.log('loadStart', arguments);

                bar.removeAttribute('hidden');
                bar.max = e.total;
                bar.value = e.loaded;
            },

            progress: function (e) {
                console.log('progress', arguments);

                bar.max = e.total;
                bar.value = e.loaded;
            },

            loadEnd: function (e) {
                console.log('loadEnd', arguments);

                bar.max = e.total;
                bar.value = e.loaded;
            },

            completeAll: function () {
                console.log('completeAll', arguments);

                setTimeout(function () {
                    bar.setAttribute('hidden', 'hidden');
                }, 1000);

                alert('Carga completa');
            }

        });
            