extends ../main

block head
    title ConsultarQ - Servicios
    link(rel="stylesheet" href="/stylesheets/others.css")
    <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>

block content
    div(class="uk-container")
        div(class="uk-flex uk-flex-between uk-margin-top uk-flex-middle uk-flex-wrap")
            div(class="uk-text-left uk-text-large uk-text-bold uk-text-primary uk-margin-bottom") Cartera de servicios
            div(class="uk-animation-toggle uk-margin-bottom" tabindex="0")
                a(href="/servicios/agregar-servicio" class="uk-text-right uk-flex-inline uk-flex uk-flex-middle uk-text-primary uk-link-heading uk-animation-shake uk-animation-fast")
                    img(src="/img/iconos/more.png" style="width:20px;height:20px;margin-top:3px;" class="uk-margin-small-right")
                    div Agregar servicio
        div(class="uk-child-width-1-2@s uk-grid-match uk-margin-top" uk-grid)
            div
                div(class="uk-card uk-card-default uk-card-body uk-padding-remove")
                    div(class="uk-card-header uk-card-primary" style="padding:8px") COMPARTIR CARTERA DE SERVICIOS
                    div(class="uk-width-1-1 uk-flex flex-wrap div-service-res-wrap" style="padding:10px")    
                        div(class="uk-width-3-5@l uk-flex uk-flex-wrap div-service-res") 
                            a(class="uk-width-1-1 uk-flex uk-flex-middle" style="color:#666;")
                                img(src="/img/iconos/pdfGray.png" style="width:15px;height:15px;" class="uk-margin-small-right") 
                                |ConsultarQ_Servicios.pdf
                            div(class="uk-width-1-2 uk-flex uk-flex-middle uk-text-small")
                                a(href="#modal-editarPDF" uk-toggle)
                                    img(src="/img/iconos/edit.png" style="width:10px;height:10px;" class="uk-margin-small-right") 
                                    |Editar pdf
                        div(class="uk-width-2-5@l uk-flex uk-flex-wrap div-compartir-service div-service-res")
                            div(class="uk-width-1-1 uk-text-mute uk-text-bold") Compartir en:
                            a(class="uk-width-1-1 uk-flex uk-flex-middle" style="color:#666;") 
                                img(src="/img/iconos/whats.png" style="width:15px;height:15px;" class="uk-margin-small-right") 
                                |WhatsApp
                            a(class="uk-width-1-1 uk-flex uk-flex-middle" style="color:#666;")
                                img(src="/img/iconos/mssg.png" style="width:15px;height:15px;" class="uk-margin-small-right") 
                                |Messenger
                            a(class="uk-width-1-1 uk-flex uk-flex-middle" style="color:#666;")
                                img(src="/img/iconos/gmail.png" style="width:15px;height:15px;" class="uk-margin-small-right") 
                                |Correo electrónico
            div
                div(class="uk-card uk-card-default uk-card-body uk-padding-remove")
                    div(class="uk-card-header uk-flex uk-flex-middle uk-text-emphasis" style="padding:8px;") 
                        img(src="/img/iconos/service.png" style="width:20px;height:20px;" class="uk-margin-small-right") 
                        a(href="/servicios/ver-servicio" class="uk-link-heading") Supervisión de la obra
                        a(href="/servicios/editar-servicio" class="uk-position-right uk-margin-small-right a-edit-service a-hidden-ser")
                            img(src="/img/iconos/edit.png" style="width:15px;height:15px;" class="uk-margin-small-right") 
                            |Editar
                        a(href="#" class="uk-position-right uk-margin-small-right a-edit-service a-block-ser")
                            img(src="/img/iconos/edit.png" style="width:15px;height:15px;") 
                    div(class="uk-width-1-1 uk-flex flex-wrap " style="padding:10px; padding-left:40px; padding-bottom:0px")
                        div(class="uk-width-1-1 uk-text-mute uk-text-bold") Elaboración de:
                            ul(class="uk-text-normal")
                                li Revisión y análisis de la documentación contractual
                                li Revisón del proyecto ejecutivo
                                li Manejo de bitácora
                                li Control de estimaciones de obra...
            div
                div(class="uk-card uk-card-default uk-card-body uk-padding-remove")
                    div(class="uk-card-header uk-flex uk-flex-middle uk-text-emphasis" style="padding:8px") 
                        img(src="/img/iconos/service.png" style="width:20px;height:20px;" class="uk-margin-small-right") 
                        a(href="#" class="uk-link-heading") Ingeniería de costos
                        a(href="/servicios/editar-servicio" class="uk-position-right uk-margin-small-right a-edit-service a-hidden-ser")
                            img(src="/img/iconos/edit.png" style="width:15px;height:15px;" class="uk-margin-small-right") 
                            |Editar
                        a(href="#" class="uk-position-right uk-margin-small-right a-edit-service a-block-ser")
                            img(src="/img/iconos/edit.png" style="width:15px;height:15px;") 
                    div(class="uk-width-1-1 uk-flex flex-wrap " style="padding:10px; padding-left:40px; padding-bottom:0px")
                        div(class="uk-width-1-1 uk-text-mute uk-text-bold") Elaboración de:
                            ul(class="uk-text-normal")
                                li Catálogo de conceptos
                                li Presupuesto base
                                li Cuantificación de proyectos de contrucción
                                li Licitaciones de obra pública y privada...
            div
                div(class="uk-card uk-card-default uk-card-body uk-padding-remove")
                    div(class="uk-card-header uk-flex uk-flex-middle uk-text-emphasis" style="padding:8px") 
                        img(src="/img/iconos/service.png" style="width:20px;height:20px;" class="uk-margin-small-right") 
                        a(href="#" class="uk-link-heading") Gestión urbana asistida
                        a(href="/servicios/editar-servicio" class="uk-position-right uk-margin-small-right a-edit-service a-hidden-ser")
                            img(src="/img/iconos/edit.png" style="width:15px;height:15px;" class="uk-margin-small-right") 
                            |Editar
                        a(href="#" class="uk-position-right uk-margin-small-right a-edit-service a-block-ser")
                            img(src="/img/iconos/edit.png" style="width:15px;height:15px;") 
                    div(class="uk-width-1-1 uk-flex flex-wrap " style="padding:10px; padding-left:40px; padding-bottom:0px")
                        div(class="uk-width-1-1 uk-text-mute uk-text-bold") Elaboración de:
                            ul(class="uk-text-normal")
                                li Regulación urbana
                                li Licencias de construcción
                                li Fraccionamientos y nomenclatura
                                li Estudios técnicos y justificativos...
    div(id="modal-editarPDF" uk-modal)
        div(class="uk-modal-dialog uk-modal-body")
            div(class="uk-text-left  uk-text-large uk-text-bold uk-text-primary") Editar PDF
            div(style="border: dashed #c7c7c7 1px" class="uk-flex uk-flex-middle uk-padding uk-margin")
                a(id="archivo" class="uk-flex uk-flex-center uk-flex-middle uk-width-1 uk-flex-wrap")
                    <span uk-icon="icon: upload; ratio: 0.8" style="margin-right:5px"></span>Selecciona el archivo
                input(name="fileField" type="file" id="fileField" style="visibility:hidden;height:2px;width:30px")
            div(class="uk-width-1 uk-flex-right uk-flex")
                button(class="uk-button uk-button-text uk-margin-medium-right uk-text-primary uk-text-capitalize uk-modal-close" type="button" ) Cancelar
                button(class="uk-button uk-button-primary uk-border-rounded uk-text-capitalize" id="btnEnviar" type="submit") Agregar
    
    div(id="modal-agregarServicio" uk-modal)
        div(class="uk-modal-dialog uk-modal-body")
            div(class="uk-text-left  uk-text-large uk-text-bold uk-text-primary") Agregar servicio
            div.uk-margin
                .field.uk-margin-bottom
                    input(type='text' autocomplete='on' id="name-service" name="name-service" value='' onchange="this.setAttribute('value', this.value);" required='')
                    label(for='name' title='Nombre del servicio' data-title='Nombre del servicio')
                div Descripción
                div(id="editor" style="resize:none !important")
                    b Elaboración de:
                    ul
                        li Complete la información del servicio  
                script.
                    CKEDITOR.replace( 'editor' );
                    $('#modal-agregarServicio').modal('attach events', '.btn-close-modal').modal('show');
                    var ckeOptions = {
                        entities: false,
                        htmlEncodeOutput: false,
                        htmlDecodeOutput: true
                    }

                    CKEDITOR.replace('message', ckeOptions);
                    CKEDITOR.config.extraPlugins = 'justify';
            div(class="uk-width-1 uk-flex-right uk-flex")
                button(class="uk-button uk-button-text uk-margin-medium-right uk-text-primary uk-text-capitalize uk-modal-close" id="btn-close-modal" type="button" ) Cancelar
                button(class="uk-button uk-button-primary uk-border-rounded uk-text-capitalize" id="btnEnviar" type="submit") Agregar
            