extends ../main 

block head
    title ConsultarQ - Editar servicio 
    link(rel="stylesheet" href="/stylesheets/others.css")
    <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
    
    
block content
    div(class="uk-container")
        div(class="uk-flex uk-flex-between uk-margin-top uk-flex-middle")
            div(class="uk-text-left  uk-text-large uk-text-bold uk-text-primary") Editar servicio
            div(class="uk-animation-toggle uk-margin-bottom" tabindex="0")
                a(href="javascript:history.back(-1);" class="uk-text-right uk-flex-inline uk-flex uk-flex-middle uk-link-muted uk-link-heading uk-animation-shake" style="color:#6B6B72 !important")
                    img(src="/icons/netGray.png" style="width:20px;height:20px;margin-top:3px" class="uk-margin-small-right")
                    div Regresar
        each service in servicio
            form(class="uk-card uk-card-default uk-card-body uk-width-4-5@m uk-margin-top uk-padding-small" id="edit-form" action="/servicios/editar-servicio/update/"+service.id+"" method="POST")
                .field.uk-margin-bottom
                    input(type='text' autocomplete='on' id="nameServiceE" name="nameServiceE" value=""+service.name+"" onchange="this.setAttribute('value', this.value);" required='')
                    label(for='nameServiceE' title='Nombre del servicio' data-title='Nombre del servicio')
                div Descripción
                textarea(class="" type="text" name="descripcionE" id="descripcionE" required style="width:100%;") #{service.description}
                script.
                    CKEDITOR.replace( 'descripcionE' );
                a(class="uk-flex uk-flex-middle uk-text-danger uk-link-heading uk-margin-small-top" id="btnEliminar" href="#delete-form" uk-toggle)
                    <span uk-icon="icon: trash; ratio: 0.8" style="margin-right:5px"></span>Eliminar
                div(class="uk-width-1 uk-flex-right uk-flex uk-margin-top")
                    button(class="uk-button uk-button-text uk-margin-medium-right uk-text-primary uk-text-capitalize" type="button" onclick="window.history.go(-1); return false;") Cancelar
                    button(class="uk-button uk-button-primary uk-border-rounded uk-text-capitalize" id="btnEditar" type="submit") Guardar

    //- modal eliminar cliente
    div(id="delete-form" uk-modal)
        each service in servicio
            div(class="uk-modal-dialog uk-modal-body")
                div(class="uk-text-left  uk-text-large uk-text-bold uk-text-danger") Eliminar usuario
                button(type='button' uk-close='' class="uk-modal-close-default")
                div(id="errors-delete")
                div(class="uk-text-left" id="text-delete") ¿Estás seguro de que deseas eliminar el servicio "#{service.name}"?
                form(class="uk-card-body uk-padding-small" id="form-delete-service" action="/servicios/delete/"+service.id+""  method="POST")
                    div(class="uk-width-1 uk-flex-right uk-flex uk-flex-middle")
                        a(class="uk-button uk-button-text uk-margin-medium-right uk-text-primary uk-text-capitalize uk-modal-close") Cancelar
                        button(class="uk-button uk-button-danger uk-border-rounded uk-text-capitalize" id="btnEliminar" type="submit") Eliminar




    script.
        jQuery(($) => {

            $(document).ready(function () {    
                // ajax para agregar un editar servicio

                $("#edit-form").bind("submit",function(){
                    //- Actualizar el ckeditor
                    for (instance in CKEDITOR.instances) 
                        CKEDITOR.instances[instance].updateElement();
                    // Capturamnos el boton de envío
                    var btnEditar = $("#btnEditar");

                    $.ajax({
                        type: $(this).attr("method"),
                        url: $(this).attr("action"),
                        data: $(this).serialize(),
                        beforeSend: function(data){
                            /*
                            * Esta función se ejecuta durante el envió de la petición al
                            * servidor.
                            * */
                            // btnEnviar.text("Enviando"); Para button
                            btnEditar.val("Enviando"); // Para input de tipo button
                            btnEditar.attr("disabled","disabled");
                        },
                        complete:function(data){
                            /*
                            * Se ejecuta al termino de la petición
                            * */
                            btnEditar.val("Enviar formulario");
                        },
                        success: function(data){
                            /*
                            * Se ejecuta cuando termina la petición y esta ha sido
                            * correcta
                            * */
                            $('#errors-edit').css('display', 'none');
                            UIkit.notification({
                                message: '<span uk-icon=\'icon: check\'></span> Servicio actualizado con éxito!',
                                status: 'success',
                                pos: 'top-center',
                                timeout: 2000
                            });
                            setTimeout(
                            function()
                            {
                                window.location.href = window.location.origin + '/servicios'
                            }, 2000);
                        },
                        error: function(data){
                            /*
                            * Se ejecuta si la peticón ha sido erronea
                            * */
                            btnEditar.removeAttr("disabled");
                            $('#errors-edit').css('display', 'block');
                            console.log(data.responseText);
                            var errors = JSON.parse(data.responseText);
                            var errorsContainer = $('#errors-edit');
                            errorsContainer.innerHTML = '';
                            var errorsList = '';
                            for (var i = 0; i < errors.length; i++) {
                                //if(errors[i].redirect)
                                    //window.location.href = window.location.origin + '/logout'
                                errorsList += '<div class="uk-alert-danger" uk-alert><a class="uk-alert-close" uk-close></a><p>'+ errors[i].msg +'</p></div>';
                            }
                            errorsContainer.html(errorsList);

                            alert("Problemas al tratar de enviar el formulario");
                        }
                    });
                    // Nos permite cancelar el envio del formulario
                    return false;
                });

                //ajax del form de eliminar
                $("#form-delete-service").bind("submit",function(){
                    // Capturamnos el boton de envío
                    var btnEliminar = $("#btnEliminar");

                    $.ajax({
                        type: $(this).attr("method"),
                        url: $(this).attr("action"),
                        data: $(this).serialize(),
                        beforeSend: function(data){
                            /*
                            * Esta función se ejecuta durante el envió de la petición al
                            * servidor.
                            * */
                            // btnEnviar.text("Enviando"); Para button
                            btnEliminar.val("Enviando"); // Para input de tipo button
                            btnEliminar.attr("disabled","disabled");
                        },
                        complete:function(data){
                            /*
                            * Se ejecuta al termino de la petición
                            * */
                            btnEliminar.val("Enviar formulario");
                        },
                        success: function(data){
                            /*
                            * Se ejecuta cuando termina la petición y esta ha sido
                            * correcta
                            * */
                            $('#errors-delete').css('display', 'none');
                            UIkit.notification({
                                message: '<span uk-icon=\'icon: check\'></span> Servicio eliminado con éxito!',
                                status: 'success',
                                pos: 'top-center',
                                timeout: 2000
                            });
                            setTimeout(
                            function()
                            {
                                window.location.href = window.location.origin + '/servicios'
                            }, 2000);
                        },
                        error: function(data){
                            /*
                            * Se ejecuta si la peticón ha sido erronea
                            * */
                            btnEliminar.removeAttr("disabled");
                            $('#errors-delete').css('display', 'block');
                            var errors = JSON.parse(data.responseText);
                            var errorsContainer = $('#errors-delete');
                            errorsContainer.innerHTML = '';
                            var errorsList = '';
                            for (var i = 0; i < errors.length; i++) {
                                //if(errors[i].redirect)
                                    //window.location.href = window.location.origin + '/logout'
                                errorsList += '<div class="uk-alert-danger" uk-alert><a class="uk-alert-close" uk-close></a><p>'+ errors[i].msg +'</p></div>';
                            }
                            errorsContainer.html(errorsList);

                            alert("Problemas al tratar de enviar el formulario");
                        }
                    });
                    // Nos permite cancelar el envio del formulario
                    return false;
                });
            });
        });