doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/login_style.css')
    link(rel='preconnect', href='https://fonts.gstatic.com')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Montserrat&display=swap')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src="/scripts/login.js")
  body
    block content
