doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/login_style.css')
    link(rel='stylesheet', href='/stylesheets/login2_style.css')
    link(rel='preconnect', href='https://fonts.gstatic.com')
    
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="icon" href="/img/logos/favicon.png")
    link(rel="stylesheet" href="/uikit/css/uikit.min.css")
    link(rel="stylesheet" href="/stylesheets/objetos.css")
    link(rel="stylesheet" href="/stylesheets/main_style.css")
    link(rel='preconnect', href='https://fonts.gstatic.com')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Montserrat&display=swap')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src="/uikit/js/uikit.min.js")
    script(src="/uikit/js/uikit-icons.min.js")
    script(src="/javascripts/menu.js")
    script(src="/scripts/login.js")
  body
    block content
