extends layout

block content
    body(class="body_login")
        div(class="uk-width-1-1 uk-padding")
            div(class="uk-card uk-width-1-2@m uk-card-default uk-margin-auto uk-margin-auto-vertical" style="height:470px") 
                div(class="uk-card-body uk-flex uk-flex-wrap uk-padding-remove") 
                    div(class="uk-width-2-5 div-blue-logo uk-flex- uk-flex-wrap")
                        img(src="/img/logos/logo-consultarqaiBLANCO.png" class="img-logo-q uk-margin-auto uk-margin-auto-vertical")
                        div(class="uk-position-bottom uk-width-2-5 uk-text-center" style="color:white; font-size:13px; padding-bottom:10px") 2020 ©ConsultarQ
                    div(class="uk-width-3-5 uk-height-1-1 uk-padding")
                        div(class="uk-text-large uk-text-bold uk-text-secondary") Iniciar sesión