doctype html
html
    head
        title= title
        link(rel="stylesheet" href="/uikit/css/uikit.min.css")
        link(rel='preconnect', href='https://fonts.gstatic.com')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Montserrat&display=swap')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src="/uikit/js/uikit.min.js")
        script(src="/uikit/js/uikit-icons.min.js")
    body
        div(class="uk-flex")
            div(class="uk-flex-inline")
                div(class="uk-height-large" uk-height-viewport="expand: true")
                    div(class="uk-light uk-background-secondary uk-padding uk-height-1-1 uk-with-1-4")
                        div(class="uk-width-1-2@s uk-width-2-5@m")
                         ul(class="uk-nav-default uk-nav-parent-icon" uk-nav="multiple: true")
                             li(class="uk-active")
                                 a(href="#") Active
                             li(class="uk-parent")
                                 a(href="#") Parent
                                 ul(class="uk-nav-sub")
                                     li
                                         a(href="#") Sub item
                                     li
                                         a(href="#") Sub item
                                         ul
                                             li
                                                 a(href="#") Sub item
                                             li
                                                 a(href="#") Sub item
                             li(class="uk-parent")
                                 a(href="#") Parent
                                 ul(class="uk-nav-sub")
                                     li
                                         a(href="#") Sub item
                                     li
                                         a(href="#") Sub item

            div(class="uk-flex-inline uk-with-1-1")
                nav(class="uk-flexuk-navbar uk-navbar-container uk-margin")
                    div(class="uk-navbar-left")
                        a(class="uk-navbar-toggle" uk-navbar-toggle-icon href="#")
                
        
        
        //- div
        //-     div(class="uk-card uk-card-primary uk-card-body")
        //-         h3(class="uk-card-title") Primary
        //-         p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            
        //-     br
        //-     br

        //-     div(class="uk-width-1-2@s uk-width-2-5@m")
        //-         ul(class="uk-nav-default uk-nav-parent-icon" uk-nav="multiple: true")
        //-             li(class="uk-active")
        //-                 a(href="#") Active
        //-             li(class="uk-parent")
        //-                 a(href="#") Parent
        //-                 ul(class="uk-nav-sub")
        //-                     li
        //-                         a(href="#") Sub item
        //-                     li
        //-                         a(href="#") Sub item
        //-                         ul
        //-                             li
        //-                                 a(href="#") Sub item
        //-                             li
        //-                                 a(href="#") Sub item
        //-             li(class="uk-parent")
        //-                 a(href="#") Parent
        //-                 ul(class="uk-nav-sub")
        //-                     li
        //-                         a(href="#") Sub item
        //-                     li
        //-                         a(href="#") Sub item

        //-     br
        //-     br

        //-     footer
        //-         p DragonWare
        //-         //img(src="/img/logos/dragonWare.png")
    
            
                
                


