extends layout

block content
    body(class="body-login")
        div(class="uk-width-1-1 uk-padding")
            div(class="uk-card uk-width-3-5@m uk-card-default uk-margin-auto uk-margin-auto-vertical" style="")
                div(class="uk-card-body uk-flex uk-flex-wrap uk-padding-remove")
                    div(class="uk-width-2-5 div-blue-logo uk-flex uk-flex-wrap" style="height: 550px")
                        img(src="/img/logos/logo-consultarqaiBLANCO.png" class="img-logo-q uk-margin-auto uk-margin-auto-vertical")
                        div(class="uk-position-bottom uk-width-2-5 uk-text-center" style="color:white; font-size:13px; padding-bottom:10px") 2020 ©ConsultarQ
                    div(class="uk-width-3-5 uk-height-1-1 div-white-login")
                        div(class="uk-width-1-1 uk-height-1-1 uk-padding div-conteiner-white" style="padding-left:35px !important; padding-bottom:10px")
                            div(class="uk-text-bold txt-iniciar uk-margin-small-bottom") Recuperar contraseña
                                img(src="/img/logos/logo-consultarqai.png" class="img-logo-responsive" style="width:120px; height;50px;")
                            hr(class="uk-margin-remove" style="border: 2px solid #3B86D9; width:82px; background-color:#3B86D9;")
                            p(class="text-pssw" style="color:#6B6B72; font-size:13px") Introduce tu correo electrónico, tu contraseña y confirma tu contraseña.
                            form(class="formulario uk-padding",style="padding-left:0px; padding-right:0px; margin-top:0px;padding-top:10px",method='post', action='/password/reset/'+token)
                                input(type="hidden" value=token name="resetLink")
                                p(class="uk-margin-remove-bottom" style="color:#6B6B72") Correo electrónico
                                input(class="uk-input uk-padding-remove uk-width-1-1",style="color:#222238; border-top:none; border-left:none; border-right:none",type="email",name="email")
                                p(class="uk-margin-remove-bottom" style="color:#6B6B72") Contraseña
                                input(class="uk-input uk-padding-remove uk-width-1-1",style="color:#222238; border-top:none; border-left:none; border-right:none",type="password",id="password" name="password")
                                p(class="uk-margin-remove-bottom" style="color:#6B6B72") Confirmar contraseña
                                input(class="uk-input uk-padding-remove uk-width-1-1",style="color:#222238; border-top:none; border-left:none; border-right:none",type="password", onkeyup="validatePassword()" id="password-confirm"  name="password_confirm")
                                if messages
                                    for message, i in messages
                                        p.txt-alert-login #{ message }
                                if successes
                                    for success, i in successes
                                        p.txt-success-login #{ success }
                                button(class="uk-padding-small uk-width-1-1 uk-margin-medium-top" type="submit") Enviar
                        div(class="uk-width-1-1 div-gray-login uk-text-center uk-position-bottom-right uk-width-3-5" style="background-color:#DBDBDC; font-size:13px; padding:8px") ¿Listo para iniciar sesión?&nbsp;
                            a(style="text-decoration:none !important" href="/login") Clic aquí
            div(class="uk-width-1-1 uk-text-center div-copy" style="font-size:11px; margin-top:10px;") 2020 ©ConsultarQ
            div(class="uk-width-1-1 uk-text-center div-developed" style="font-size:13px; margin-top:10px;") Desarrollado por
                a(href="http://dragonware.com.mx/" target="_blank" class="uk-link-heading" style="font-weight:300") DragonWare
                    img(src="/img/logos/dragonWare.png" style="width:20px; height:16px; margin-left:5px; margin-bottom:7px")
    if successes
        for success in successes
            div.alert.alert-success #{ success }

    script.
        var password = document.getElementById("password")
        , confirm_password = document.getElementById("password-confirm");

        function validatePassword(){
            if(password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Las contraseñas no coinciden");
                confirm_password.reportValidity();
            } else {
                confirm_password.setCustomValidity('');
                confirm_password.reportValidity();
            }
        }