extends ../main

block head
    title ConsultarQ - Crear Usuario

block content
    div(class="uk-container")
        div(class="uk-animation-toggle" tabindex="0")
            div(class="uk-card uk-card-default uk-width-2-3@m uk-width-auto@s  uk-align-center uk-margin-large-top uk-animation-shake")
                div(class="uk-card-header")
                    div(class="uk-grid-small uk-flex-middle" uk-grid)
                        div(class="uk-width-expand")
                            h3(class="uk-card-title uk-margin-remove-bottom") ConsultarQ
                            p(class="uk-text-meta uk-margin-remove-top") Bienvenido de nuevo #{user.name}
                div(class="uk-card-body uk-flex uk-flex-center uk-flex-wrap")
                    p(id="calendar" class="uk-margin-auto") La fecha de hoy es: 
                    p(id="clock" class="uk-margin-auto uk-width-1 uk-text-primary uk-text-center uk-text-lead")
            a(href="/logout", style="color:blue" class="uk-align-right") Cerrar Sesión