extends ../main

block head
    title ConsultarQ - Crear Usuario
    link(rel="stylesheet" href="/stylesheets/others.css")
block content
    div(class="uk-container")
        div(class="uk-flex uk-flex-between uk-margin-top uk-flex-middle")
            div(class="uk-text-left  uk-text-large uk-text-bold uk-text-primary") Agregar usuario
            div(class="uk-animation-toggle" tabindex="0")
                a(class="uk-text-right uk-flex-inline uk-flex uk-flex-middle uk-text-muted uk-link-heading uk-animation-shake uk-animation-fast" onclick="window.history.go(-1); return false;")
                    img(src="/img/iconos/netGray.png" style="width:20px;height:20px;margin-top:2px;" class="uk-margin-small-right")
                    div Regresar
        //- if messages
        //-       for message, i in messages
        //-         div(class="uk-alert-danger" uk-alert)
        //-             a(class="uk-alert-close" uk-close)
        //-             p #{ message.msg }

        div(id="errors")

        div(class="uk-card uk-card-default uk-align-center uk-margin-top")
            form(class="uk-card-body uk-flex uk-flex-center uk-flex-wrap" id="formulario" action="/usuarios/nuevo" method="POST" enctype="multipart/form-data")
                div(class="uk-width-auto@m uk-flex uk-flex-center uk-margin-small-bottom uk-flex-wrap uk-flex-column uk-flex-top")
                    img(src="/img/iconos/default.png" alt="" id="blah" class="uk-border-circle uk-margin-auto uk-flex" style="width:200px;height:200px; background-size:cover; object-fit:cover;")
                    a(href="#modal-example" uk-toggle class="uk-flex uk-flex-center uk-flex-middle uk-width-1")
                        img(src="/img/iconos/edit.png" class="uk-flex" style="width:12px; height:12px;")
                        div() Agregar foto
                div(class="uk-width-expand@m uk-padding-small uk-padding-remove-vertical")
                    div(class="uk-text-left uk-text-primary uk-margin-bottom") DATOS GENERALES
                    .field
                        input(type='text' autocomplete='on' id="name" name="name" value='' onchange="this.setAttribute('value', this.value);" required='')
                        label(for='name' title='Nombre Completo' data-title='Nombre Completo')
                    .field
                        input(type='text' autocomplete='tel' id="phone_number" name="phone_number" value='' onchange="this.setAttribute('value', this.value);" required='')
                        label(for='phone_number' title='Número telefónico' data-title='Número telefónico')
                    .field
                        input(type='text' autocomplete='on' id="city" name="city" value='' onchange="this.setAttribute('value', this.value);" required='')
                        label(for='city' title='Ciudad' data-title='Ciudad')
                    .field
                        input(type='text' autocomplete='on' id="state" name="state" value='' onchange="this.setAttribute('value', this.value);" required='')
                        label(for='state' title='Estado' data-title='Estado')
                    .field
                       input(type='text' autocomplete='on'  id="suburb" name="suburb"  value='' onchange="this.setAttribute('value', this.value);" required='')
                       label(for='suburb' title='Colonia' data-title='Colonia')
                    .field
                        input(type='text' autocomplete='on'  id="street" name="street"  value='' onchange="this.setAttribute('value', this.value);" required='')
                        label(for='street' title='Calle' data-title='Calle')
                    .field
                        input(type='text' autocomplete='on'  id="ext_number" name="ext_number"  value='' onchange="this.setAttribute('value', this.value);" required='')
                        label(for='ext_number' title='No. Exterior' data-title='No. Exterior')
                    .field
                        input(type='text' autocomplete='on'  id="int_number" name="int_number"  value='' onchange="this.setAttribute('value', this.value);")
                        label(for='int_number' title='No. Interior (opcional)' data-title='No. Interior')
                    .field
                        input(type='email' autocomplete='on'  id="email" name="email"  value='' onchange="this.setAttribute('value', this.value);" required='')
                        label(for='email' title='Correo electrónico' data-title='Correo electrónico')
                    .field
                        input(type='password' autocomplete='off'  id="password" name="password"  value='' onchange="this.setAttribute('value', this.value);" required='')
                        label(for='password' title='Contraseña (mínimo 8 caracteres)' data-title='Contraseña')
                    .field
                        input(type='password' autocomplete='off'  id="password-confirm" name="password-confirm"  value='' onchange="this.setAttribute('value', this.value);" required='')
                        label(for='password-confirm' title='Confirmar contraseña' data-title='Confirmar contraseña')
                div(class="uk-width-expand@m uk-padding-small uk-padding-remove-vertical")
                    div(class="uk-text-left uk-text-primary uk-margin-bottom") CONSULTARQ
                    .field
                        select(id="role" name="role" autocomplete='off' value='' /*required*/)
                            option(value="" disabled hidden selected ) Seleccionar
                            option(value="arquitecto" ) Arquitecto
                            option(value="adminisrador" ) Administrador
                        label(for='role' title='Rol' data-title='Rol')
                    .field
                        input(type='date' autocomplete='off'  id="hiring_date" name="hiring_date"  onchange="this.setAttribute('value', this.value);" required='')
                        label(for='hiring_date' title='Fecha de contratación' data-title='Fecha de contratación')
                div(class="uk-width-1 uk-flex-right uk-flex uk-padding-small uk-padding-remove-vertical")
                    button(class="uk-button uk-button-text uk-margin-medium-right uk-text-primary uk-text-capitalize" type="button" onclick="window.history.go(-1); return false;") Cancelar
                    button(class="uk-button uk-button-primary uk-border-rounded uk-text-capitalize" id="btnEnviar" type="submit") Agregar
                div(id="modal-example" uk-modal="container: false")
                    div(class="uk-modal-dialog uk-modal-body")
                        //- input(type='file' onchange="readURL(this);")
                        div(class="form-group")
                            label(for="fileField" class="attachment")
                                div(class="row btn-file")
                                    div(class="btn-file__preview")
                                    div(class="btn-file__actions")
                                        div(class="btn-file__actions__item uk-text-center" )
                                            div(class="btn-file__actions__item--shadow")
                                                i(class="fa fa-plus fa-lg fa-fw" aria-hidden="true")
                                                div(class="visible-xs-block" style="margin: auto auto")
                                                    |Selecciona una imagen
                                input(name="fileField" type="file" id="fileField")
    script.
        jQuery(($) => {
            $('.attachment input[type="file"]')
                .on('change', (event) => {
                let el = $(event.target).closest('.attachment').find('.btn-file');
                el
                .find('.btn-file__actions__item')
                .css({
                    'padding': '135px 0px'
                });
                $('.visible-xs-block').text("Carga completada");
                el
                .find('.btn-file__preview')
                .css({
                    'background-image': 'url(' + window.URL.createObjectURL(event.target.files[0]) + ')'
                });
                $('#blah').attr("src",window.URL.createObjectURL(event.target.files[0]));
            });
        });

        function labelclick(name){
            input = document.getElementById(name);
            input.click();
        }

        $(document).ready(function () {
            $("#formulario").bind("submit",function(){
                // Capturamnos el boton de envío
                var btnEnviar = $("#btnEnviar");

                $.ajax({
                    type: $(this).attr("method"),
                    url: $(this).attr("action"),
                    data: new FormData(this),
                    dataType: "JSON",
                    processData: false,
                    contentType: false,
                    beforeSend: function(data){
                        /*
                        * Esta función se ejecuta durante el envió de la petición al
                        * servidor.
                        * */
                        // btnEnviar.text("Enviando"); Para button
                        btnEnviar.val("Enviando"); // Para input de tipo button
                        btnEnviar.attr("disabled","disabled");
                    },
                    complete:function(data){
                        /*
                        * Se ejecuta al termino de la petición
                        * */
                        btnEnviar.val("Enviar formulario");
                    },
                    success: function(data){
                        /*
                        * Se ejecuta cuando termina la petición y esta ha sido
                        * correcta
                        * */
                        $('#errors').css('display', 'none');
                        alert('Usuario registrado');
                        window.location.href = window.location.origin + '/usuarios'
                    },
                    error: function(data){
                        /*
                        * Se ejecuta si la peticón ha sido erronea
                        * */
                        btnEnviar.removeAttr("disabled");
                        $('#errors').css('display', 'block');
                        console.log(data.responseText);
                        var errors = JSON.parse(data.responseText);
                        var errorsContainer = $('#errors');
                        errorsContainer.innerHTML = '';
                        var errorsList = '';
                        for (var i = 0; i < errors.length; i++) {
                            //if(errors[i].redirect)
                                //window.location.href = window.location.origin + '/logout'
                            errorsList += '<div class="uk-alert-danger" uk-alert><a class="uk-alert-close" uk-close></a><p>'+ errors[i].msg +'</p></div>';
                        }
                        errorsContainer.html(errorsList);

                        alert("Problemas al tratar de enviar el formulario");
                    }
                });
                // Nos permite cancelar el envio del formulario
                return false;
            });
        });