extends ../main

block head
    title ConsultarQ - Crear Usuario

block content
    div(class="uk-container")
        div(class="uk-flex uk-flex-between uk-margin-top uk-flex-middle uk-flex-wrap")
            div(class="uk-text-left   uk-text-large   uk-text-bold uk-text-primary uk-margin-bottom") Administrar usuarios
            div(class="uk-animation-toggle uk-margin-bottom" tabindex="0")
                a(class="uk-text-right uk-flex-inline uk-flex uk-flex-middle uk-text-primary uk-link-heading uk-animation-shake")
                    img(src="/icons/more.png" style="width:20px;height:20px;margin-top:3px" class="uk-margin-small-right")
                    div Agregar usuario
        div(class="uk-child-width-1-2@s" uk-grid)
            each usuario in usuarios
                div
                    div(class="uk-card uk-card-default uk-width-1")
                        div(class="uk-card-body uk-flex uk-flex-top uk-padding-small")
                            div(class="uk-width-auto" style="background-color:blue")
                                img(src="/img/iconos/default.png" alt=":c" class="uk-border-circle uk-margin-auto uk-flex" style="width:94px;height:94px; background-size:cover; object-fit:cover;")
                            div(class="uk-width-expand uk-margin-small-left")
                                p(class="uk-text-medium uk-margin-remove-top" style="margin-bottom:5px") #{usuario.name}
                                p(class="uk-text-smal uk-margin-remove-top" style="margin-bottom:5px") 4433998915
                            div(class="uk-width-auto ")
                                div(class="uk-animation-toggle" tabindex="0")
                                    a(class="uk-text-right uk-flex-inline uk-flex uk-flex-middle uk-text-primary uk-link-heading uk-animation-shake")
                                        img(src="/icons/edit.png" style="width:10px;height:10px" class="uk-margin-small-right")
                                        div(class="uk-text-small") Editar
                        div(class="uk-card-footer")
                            a(href="#" class="uk-button uk-button-text") Read more