extends ../main

block head
    title ConsultarQ - Crear Usuario

block content
    div(class="uk-container")
        div(class="uk-flex uk-flex-between uk-margin-top uk-flex-middle")
            div(class="uk-text-left  uk-text-large uk-text-bold uk-text-primary") Administrar usuarios
            div(class="uk-animation-toggle" tabindex="0")
                a(class="uk-text-right uk-flex-inline uk-flex uk-flex-middle uk-text-muted uk-link-heading uk-animation-shake uk-animation-fast")
                    img(src="/icons/more.png" style="width:20px;height:20px" class="uk-margin-small-right")
                    div(class="uk-text-primary") Agregar usuario