@media(max-width:960px){
    .div-datos-client-add{
        padding-left: 0px !important;
        margin-top: 0px !important;
        padding-top:5px;
        border-top: solid 1px #eeeeee;
        border-bottom: solid 1px #eeeeee;
        margin-bottom: 10px;
    }
}
@media(max-width:500px){
    .o-flex-wrap-500{
        display: flex;
        flex-wrap: wrap;
    }
}