.button-caja{
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius:2px; 
    font-size:14px; 
    border: solid 1px #1e87f0; 
    color:#1e87f0; 
    background-color:transparent;
    transition: all ease-in 0.25s;
    text-align: center;
}
.button-caja-s{
    border:none;
    background-color: #DBDBDC; 
    color: #999999;
}
.button-down{
    border:none;
    border-radius: 2px;
    text-transform: initial;
    background-color: #F4F4F4;
    transition: all ease-in 0.25s;
}
.button-down:hover, .button-down:focus, .button-down:active{
    background-color: #DBDBDC;
    transition: all ease-in 0.25s; 
}

.button-caja:hover{
    cursor: pointer;
}
.button-caja:hover, .button-caja:focus, .button-caja:active{
    color:white;
    outline: none;
    background-color: #1e87f0; 
    transition: all ease-in 0.25s;
}
.textarea-caja{
    border: 1px solid #ccc;
    height: 170px;
    resize: none;
}
.textarea-caja:focus, .textarea-caja:active{
    border: 1px solid #1e87f0;
}
.table-caja tbody tr th{
    color: black;
    text-transform: initial;
}
.btn-filtro-date{
    width:30%;
}
@media(max-width:1300px){
    .button-caja{
        font-size: 12px !important;
    }
}
@media(max-width:1200px){
    .btn-filtro-date{
        width: 100% !important;
        margin-bottom: 5px;
    }
}
@media(max-width:960px){
    .div-info-nex-caja{
        padding-bottom: 0px;
        border-bottom: solid 1px rgb(236, 236, 236);
    }
    .btn-filtro-date{
        width: 30% !important;
        margin-bottom: 0px;
    }
    .btn-agregarRegistro{
        width: 30% !important;
        margin-right:35%;
        margin-left: 35%;
    }
}
@media(max-width:500px){
    .btn-agregarRegistro{
        width: 50% !important;
        margin-right:25%;
        margin-left: 25%;
    }
}
@media(max-width:400px){
    .btn-agregarRegistro{
        width: 100% !important;
        margin-right:0%;
        margin-left: 0%;
    }
}