html, body {
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: row;
}
.main_layout {
    width: 100%;
    height: 100%;
    background-color: #F8FAFB;
    display:flex;
}
.left_main {
    width: 235px;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
}

.right_content {
    width: 100%;
}

.header_main{
    width: 100%;
    height: 60px;
    background: #FFFFFF;
    border-bottom: 1px solid #E3E3E3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_icon{
    color: #3B86D9;
}
.main_logo{
    width:213px;
    height: 13px;
    margin-right: 34px;
}
.main_footer{
    width: 100%;
    height: 41px;
    position: fixed;
    bottom:0;
    background: #FFFFFF;
    border-top: 1px solid #E3E3E3;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #6B6B72;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_image {
    width: 20px;
    height: 14px;
    margin-left: 5px;
}
.footer_content {
    display:flex;
    margin-top: 20px;
    margin-left: -40px;
}