.btn-status-active{
    background-color:#86DDAE; 
    color:#129326; 
    font-size:8px; 
    font-weight: bold;
    width:63px !important; 
    padding: 6px;
    border-radius: 5%;
    text-align:center !important;
}

@media(max-width:1340px){
    .div-foto-perfil{
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .div-datos-perfil{
        width: 100%;
        text-align: center;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .btn-status-perfil{
        margin-left: auto !important;
        margin-right: auto !important;
    }
}