body {
  padding: 50px;
  font:    14px 'Montserrat',  Helvetica, sans-serif;
}

a {
  color:           #3B86D9;
  text-decoration: none;
  font-weight:     bold;
}

a:hover, a:focus {
  text-decoration: underline;
}
