extends ../main

block head
    title ConsultarQ - Directorio de clientes
    link(rel="stylesheet" href="/stylesheets/others.css")
block content
    div(class="uk-container")
        div(class="uk-flex uk-flex-between uk-margin-top uk-flex-middle uk-flex-wrap")
            div(class="uk-text-left uk-text-large uk-text-bold uk-text-primary uk-margin-bottom") Directorio de clientes
            div(class="uk-animation-toggle uk-margin-bottom" tabindex="0")
                a(href="/servicios/agregar-servicio" class="uk-text-right uk-flex-inline uk-flex uk-flex-middle uk-text-primary uk-link-heading uk-animation-shake uk-animation-fast")
                    img(src="/img/iconos/more.png" style="width:20px;height:20px;margin-top:3px;" class="uk-margin-small-right")
                    div Agregar cliente
        div(class="uk-child-width-1-2@m uk-grid-match uk-margin-top" uk-grid)
            div
                div.uk-card.uk-card-default.uk-card-body.uk-padding-remove
                    div.uk-width-1-1.uk-flex.uk-flex-wrap.uk-padding-small
                        div(class="uk-width-auto@m")
                            img(src="/img/iconos/default.png" style="width:70px; height:70px; border-radius:50px; margin-right:15px")
                        div(class="uk-width-expand@m")
                            div.uk-flex.uk-width-1-1.uk-flex-wrap-reverse
                                div(class="uk-width-auto@l" style="color:#222238; font-size:16px; font-weight:400") Adrián Leonardo Aguilar Huerta
                                div(class="uk-width-expand@l uk-text-right")
                                    a.uk-flex-inline.uk-flex-middle(style="text-decoration:none; color:#1e87f0 !important")
                                        img(src="/icons/edit.png" style="width:10px;height:10px" class="uk-margin-small-right")
                                        div(class="uk-text-small") Editar
                            div.uk-width-1-1.uk-flex.uk-flex-middle 
                                <span uk-icon="icon:receiver; ratio: 0.8" style="margin-right:5px"></span>4444444444
                            div.uk-width-1-1.uk-flex.uk-flex-middle(style="word-break: break-all")
                                <span uk-icon="icon:mail; ratio: 0.8" style="margin-right:5px"></span>dgmarin61@gmail.com
                            div.uk-width-1-1.uk-flex.uk-flex-middle 
                                <span uk-icon="icon:calendar; ratio: 0.8" style="margin-right:5px"></span>12 de Noviembre de 2020
                            div.uk-width-1-1.uk-flex.uk-flex-middle 
                                <span uk-icon="icon:thumbnails; ratio: 0.8" style="margin-right:5px"></span>Área de cliente
                        div.uk-width-1-1.uk-flex.uk-flex-wrap.uk-margin-small-top.uk-flex-middle
                            div(class="uk-width-1-5@m") Cotización
                            div(class="uk-width-4-5@m uk-text-emphasis" style="font-size:14px") 
                                a.uk-link-reset(href="#") Nombre de la cotización.PDF<span uk-icon="icon:file-pdf; ratio: 0.6" style="margin-left:3px"></span>
                        div.uk-width-1-1.uk-flex.uk-flex-wrap.uk-margin-small-top.uk-flex-middle
                            div(class="uk-width-1-5@m") Contratos
                            div(class="uk-width-4-5@m uk-text-emphasis" style="font-size:14px")
                                a.uk-link-reset(href="#") Nombre del contrato.PDF<span uk-icon="icon:file-pdf; ratio: 0.6" style="margin-left:3px"></span>

                    div.uk-width-1-1.uk-flex.uk-flex-wrap.uk-padding-small.uk-flex-middle(style="border-top: solid 1px #C7C7C7") 
                        div.uk-width-1-1.uk-flex-inline.uk-flex-wrap
                            div(class="uk-width-1-5@m uk-text-truncate") Proyecto
                            div(class="uk-width-4-5@m uk-text-emphasis") 
                                div Nombre del proyecto
                                div.uk-width-1-1
                                    progress(id="js-progressbar" class="uk-progress uk-margin-remove" value="40" max="100")
                                div.uk-width-1-1.uk-text-right.uk-text-emphasis(style="font-size:14px") Progreso 40%
                        div(class="uk-width-1-5@m") Estatus
                        div(class="uk-width-4-5@m btn-status-active") ACTIVO
                        
            div
                div.uk-card.uk-card-default.uk-card-body.uk-padding-remove
                    div.uk-width-1-1.uk-flex.uk-flex-wrap.uk-padding-small
                        div(class="uk-width-auto@m")
                            img(src="/img/iconos/default.png" style="width:70px; height:70px; border-radius:50px; margin-right:15px")
                        div(class="uk-width-expand@m")
                            div.uk-flex.uk-width-1-1.uk-flex-wrap-reverse
                                div(class="uk-width-auto@l" style="color:#222238; font-size:16px; font-weight:400") Adrián Leonardo Aguilar Huerta
                                div(class="uk-width-expand@l uk-text-right")
                                    a.uk-flex-inline.uk-flex-middle(style="text-decoration:none; color:#1e87f0 !important")
                                        img(src="/icons/edit.png" style="width:10px;height:10px" class="uk-margin-small-right")
                                        div(class="uk-text-small") Editar
                            div.uk-width-1-1.uk-flex.uk-flex-middle 
                                <span uk-icon="icon:receiver; ratio: 0.8" style="margin-right:5px"></span>4444444444
                            div.uk-width-1-1.uk-flex.uk-flex-middle(style="word-break: break-all")
                                <span uk-icon="icon:mail; ratio: 0.8" style="margin-right:5px"></span>dgmarin61@gmail.com
                            div.uk-width-1-1.uk-flex.uk-flex-middle 
                                <span uk-icon="icon:calendar; ratio: 0.8" style="margin-right:5px"></span>12 de Noviembre de 2020
                            div.uk-width-1-1.uk-flex.uk-flex-middle 
                                <span uk-icon="icon:thumbnails; ratio: 0.8" style="margin-right:5px"></span>Área de cliente
                        div.uk-width-1-1.uk-flex.uk-flex-wrap.uk-margin-small-top.uk-flex-middle
                            div(class="uk-width-1-5@m") Cotización
                            div(class="uk-width-4-5@m uk-text-emphasis" style="font-size:14px") 
                                a.uk-link-reset(href="#") Nombre de la cotización.PDF<span uk-icon="icon:file-pdf; ratio: 0.6" style="margin-left:3px"></span>
                        div.uk-width-1-1.uk-flex.uk-flex-wrap.uk-margin-small-top.uk-flex-middle
                            div(class="uk-width-1-5@m") Contratos
                            div(class="uk-width-4-5@m uk-text-emphasis" style="font-size:14px")
                                a.uk-link-reset(href="#") Nombre del contrato.PDF<span uk-icon="icon:file-pdf; ratio: 0.6" style="margin-left:3px"></span>

                    div.uk-width-1-1.uk-flex.uk-flex-wrap.uk-padding-small.uk-flex-middle(style="border-top: solid 1px #C7C7C7") 
                        div.uk-width-1-1.uk-flex-inline.uk-flex-wrap
                            div(class="uk-width-1-5@m uk-text-truncate") Proyecto
                            div(class="uk-width-4-5@m uk-text-emphasis") 
                                div Nombre del proyecto
                                div.uk-width-1-1
                                    progress(id="js-progressbar" class="uk-progress uk-margin-remove" value="40" max="100")
                                div.uk-width-1-1.uk-text-right.uk-text-emphasis(style="font-size:14px") Progreso 40%
                        div(class="uk-width-1-5@m") Estatus
                        div(class="uk-width-4-5@m btn-status-active") ACTIVO
                    
        