extends ../main

block head
    title ConsultarQ - Proyectos Agregar
    link(rel="stylesheet" href="/stylesheets/others.css")
block content
    div(class="uk-container")
        div(class="uk-flex uk-flex-between uk-margin-top uk-flex-middle uk-flex-wrap")
            div(class="uk-text-left   uk-text-large   uk-text-bold uk-text-primary uk-margin-bottom") Agregar proyecto
            div(class="uk-animation-toggle uk-margin-bottom" tabindex="0")
                a(href="javascript:history.back()" class="uk-text-right uk-flex-inline uk-flex uk-flex-middle uk-text-muted uk-link-heading uk-animation-shake uk-animation-fast")
                    img(src="/img/iconos/netGray.png" style="width:20px;height:20px;margin-top:2px;" class="uk-margin-small-right")
                    div Regresar
        form(action="" method="POST" class="uk-grid-small uk-child-width-1 uk-grid-row-large uk-margin-top" enctype="multipart/form-data" uk-grid)
            div(class="uk-card uk-card-default uk-card-body uk-padding-remove-top uk-padding-remove-bottom uk-flex uk-flex-wrap")
                div(class="uk-width-1-4@m uk-width-1 uk-margin-top uk-margin-bottom" ) 
                    div(class="uk-text-primary uk-text-small") DATOS GENERALES
                    .field.uk-margin-bottom.uk-margin-small-top
                        input(type='text' autocomplete='off' id="nombreP" name="nombreP" value='' onchange="this.setAttribute('value', this.value);" required='')
                        label(for='nombreP' title='Nombre del proyecto' data-title='Nombre del proyecto')
                    .field.uk-margin-bottom.uk-margin-small-top
                        select(type='select' id="estatus" name="estatus" value='' onchange="this.setAttribute('value', this.value);" required='')
                            option(value="activo" selected) Activo
                            option(value="terminado") Terminado
                            option(value="cancelado") Cancelado
                        label(for='estatus' title='Estatus' data-title='Estatus')
                    .field.uk-margin-bottom
                        input(type='date' id="start_date" name="start_date"  onchange="this.setAttribute('value', this.value);" required)
                        label(for='start_date' title='Fecha de inicio' data-title='Fecha de inicio')
                    .field.uk-margin-bottom(style="display:none" id="end_date_div")
                        input(type='date' id="end_date" name="end_date"  onchange="this.setAttribute('value', this.value);")
                        label(for='end_date' title='Fecha de término' data-title='Fecha de término')
                    .field.uk-margin-bottom.uk-margin-small-top
                        select(type='select' id="tipo" name="tipo" value='' onchange="this.setAttribute('value', this.value);")
                            option(value="") Seleccionar layout
                            option(value="0") Casa - Habitación
                            option(value="1") Otro tipo de proyecto
                        label(for='tipo' title='Layout' data-title='Layout')
                    div(class="uk-flex uk-flex-wrap uk-flex-between")
                        div(class="uk-text-primary uk-text-small") PROVEEDORES
                        div(id="agregar_proveedor" class="uk-flex uk-flex-middle" style="cursor:pointer;")
                            img(src="/icons/more.png" width="10px" style="margin-right:5px;di")
                            div(class="uk-text-primary" style="font-size: 12px;line-height: 15px;") Agregar
                    .field.uk-margin-bottom.uk-margin-small-top
                        input(type='text' list="proveedores" id="proveedor" name="proveedor" placeholder="Proveedores" onchange="this.setAttribute('value', this.value);")
                        datalist(id="proveedores")
                            each prestador in prestadores
                                option(value=prestador.name)
                    div(id="lista_proveedores" class="uk-child-width-1")
                        input(type="hidden" id="input_proveedores" name="input_proveedores[]")
                div(class="uk-width-3-4@m uk-width-1 uk-margin-top uk-margin-bottom" )
                    div(class="uk-width-1 uk-flex uk-flex-wrap")
                        div(class="uk-width-1-3@m  uk-width-1" style="padding-left:10px;")
                            div(class="uk-text-primary uk-text-small") DATOS DEL CLIENTE
                            .field.uk-margin-bottom.uk-margin-small-top
                                select(type='select' id="cliente" name="cliente" value='' onchange="this.setAttribute('value', this.value);" required)
                                    option(value="" disabled hidden selected) Seleccionar cliente
                                    option(value="0") Cliente 1
                                    option(value="1") Cliente 2
                                    option(value="2") Cliente 3
                                label(for='estatus' title='Estatus' data-title='Estatus')
                            .field.uk-margin-bottom
                                input(type='file' multiple id="cotizaciones" name="cotizaciones"  onchange="this.setAttribute('value', this.value);")
                                label(for='cotizaciones' title='Cotización' data-title='Cotización')
                            .field.uk-margin-bottom
                                input(type='file' id="contrato" name="contrato"  onchange="this.setAttribute('value', this.value);")
                                label(for='contrato' title='Contrato' data-title='Contrato')
                        div(class="uk-width-2-3@m uk-width-1" style="padding-left:10px;") 
                            div(class="uk-width-1-2 uk-flex uk-flex-between")
                                div(class="uk-text-primary uk-text-small") MIEMBROS DEL PROYECTO
                                div(id="agregar_miembro" class="uk-flex uk-flex-middle" style="cursor:pointer;")
                                    img(src="/icons/more.png" width="10px" style="margin-right:5px;")
                                    div(class="uk-text-primary" style="font-size: 12px;line-height: 15px;") Agregar
                            div(class="uk-width-1-2")
                                .field.uk-margin-bottom.uk-margin-small-top
                                        input(type='text' list="miembros" id="miembro" name="miembro" placeholder="Miembros" onchange="this.setAttribute('value', this.value);")
                                        datalist(id="miembros")
                                            each miembro in prestadores
                                                option(value=miembro.name)
                                
    
    script.
        $(document).ready(function () {
            var arrProveedores=[];
            $('#estatus').change(function(){    
                if(this.value=="terminado"){
                    document.getElementById("end_date_div").style.display="block";
                    document.getElementById("end_date").required=true;
                }
                else{
                    document.getElementById("end_date_div").style.display="none";
                    document.getElementById("end_date").required=false;
                }
            });
            $('#agregar_proveedor').click(function(){ 
                var input=$('#proveedor');
                var proveedores=!{ JSON.stringify(prestadores) };
                for(var key in proveedores){
                    var obj=proveedores[key];
                    if(obj["name"] == input.val()){
                        if($.inArray(obj["id"],arrProveedores)==-1){
                            $('#lista_proveedores').append('<div id="'+obj['id']+'p" class="uk-flex uk-flex-middle"><img class="delete_proveedor" data-id="'+obj["id"]+'" src="/icons/less.png" width="10px" style="cursor:pointer"><div class="uk-margin-small-left uk-text-small">'+obj["name"]+'</div></div>');
                            arrProveedores.push(obj["id"]);
                            $('#input_proveedores').val(arrProveedores);
                        }
                        break;
                    }
                }
            });
            $(document.body).on('click','.delete_proveedor', function(e) {  
                var id=$(this).data('id');
                arrProveedores = jQuery.grep(arrProveedores, function(value) {
                    return value != id;
                });
                var div = document.getElementById(id+'p');
                div.remove();
                $('#input_proveedores').val(arrProveedores);
            });
        });

