extends ../main

block head
    title ConsultarQ - Proyectos Documentación
    link(rel="stylesheet" href="/stylesheets/others.css")
    link(rel="stylesheet" href="/stylesheets/oProgressBar.css")
    link(rel="stylesheet" href="/stylesheets/oProyectMenu.css")
block content
    div(class="uk-container")
        div(class="uk-flex uk-flex-between uk-margin-top uk-flex-middle uk-flex-wrap")
            div(class="uk-text-left   uk-text-large   uk-text-bold uk-text-primary uk-margin-bottom") Proyectos
            div(class="uk-flex uk-flex-between uk-flex-wrap uk-width-1-2@m uk-width-1 uk-margin-small-bottom uk-text-small o-proyect-menu-hide")
                a(href="/proyectos/documentacion" class="uk-padding-small uk-padding-remove-vertical" style="color: #6B6B72; text-decoration:none; border-bottom: 2px solid #3B86D9; padding-bottom:7px;") DOCUMENTACIÓN
                a(href="/proyectos/activos" class="uk-padding-small uk-padding-remove-vertical" style="color: #6B6B72; text-decoration:none;") ACTIVOS
                a(href="/proyectos/inactivos" class="uk-padding-small uk-padding-remove-vertical" style="color: #6B6B72; text-decoration:none;") INACTIVOS
            div(class="uk-animation-toggle uk-margin-bottom" tabindex="0")
                a(href="/proyectos/agregar" class="uk-text-right uk-flex-inline uk-flex uk-flex-middle uk-text-primary uk-link-heading uk-animation-shake")
                    img(src="/icons/more.png" style="width:20px;height:20px;margin-top:3px" class="uk-margin-small-right")
                    div Agregar proyecto
        form(class="uk-flex uk-margin-bottom")
            div(class="uk-search uk-search-default uk-width-expand")
                button(href="#" uk-search-icon)
                input(class="uk-search-input" type="search" placeholder="Buscar...")
                input(class="uk-search-input" type="hidden" name="filter" id="filter" value="name" placeholder="Buscar...")
            //- boton de filtrar
            button(class="uk-button uk-button-primary uk-width-auto" href="#" type="button")
                img(src="/icons/filterWhite.png" style="width:20px;height:20px;" class="")
            div(uk-dropdown="mode: click")
                ul(class="uk-list")
                    li(onclick="putSearch('name')") Nombre
                    li(onclick="putSearch('tipo')") Tipo
                    li(onclick="putSearch('miembro')") Miembro
        div(class="o-proyect-menu-show uk-width-1")
                a(href="/proyectos/documentacion" class="o-menu-selected" ) DOC
                a(href="/proyectos/activos" class="") ACTIVOS
                a(href="/proyectos/inactivos" class="") INACTIVOS
                div(class="uk-animation-toggle uk-margin-bottom" tabindex="0")
        div(class="uk-grid-small uk-child-width-1-3@m uk-child-width-1-2@s uk-grid-row-large" uk-grid)
            div()
                div(class="uk-card  uk-card-default")
                    div(class="uk-card-header uk-padding-small uk-flex")
                        div(class="uk-width-4-5 uk-text-primary") Casa - Habitación
                        a(href="/proyectos/documentacion/editar/1" class="uk-width-1-5 uk-flex uk-flex-middle uk-flex-right uk-animation-toggle uk-link-reset")
                            img(src="/icons/edit.png" class="uk-animation-shake" width="12px" style="margin-right:5px;")
                            div(class="uk-text-primary uk-text-small uk-animation-shake") Editar
                    div(class="uk-card-body uk-padding-small")
                        div(class="uk-text-large uk-text-secondary") 45
                        div(class="uk-text-small" style="margin-top:-7px") Entregables
                        div(class="uk-text-large uk-text-secondary uk-margin-small-top") 15
                        div(class="uk-text-small" style="margin-top:-7px") No entregables
                        div(class="uk-margin-small-top uk-text-light uk-text-small") OBSERVACIONES
                        div(class="uk-text-small uk-text-secondary" style="font-size:13px;line-height:16px;") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. 
            div()
                div(class="uk-card  uk-card-default")
                    div(class="uk-card-header uk-padding-small uk-flex")
                        div(class="uk-width-4-5 uk-text-primary") Casa - Habitación
                        a(href="/proyectos/documentacion/editar/1" class="uk-width-1-5 uk-flex uk-flex-middle uk-flex-right uk-animation-toggle uk-link-reset")
                            img(src="/icons/edit.png" class="uk-animation-shake" width="12px" style="margin-right:5px;")
                            div(class="uk-text-primary uk-text-small uk-animation-shake") Editar
                    div(class="uk-card-body uk-padding-small")
                        div(class="uk-text-large uk-text-secondary") 45
                        div(class="uk-text-small" style="margin-top:-7px") Entregables
                        div(class="uk-text-large uk-text-secondary uk-margin-small-top") 15
                        div(class="uk-text-small" style="margin-top:-7px") No entregables
                        div(class="uk-margin-small-top uk-text-light uk-text-small") OBSERVACIONES
                        div(class="uk-text-small uk-text-secondary" style="font-size:13px;line-height:16px;") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat.
            div()
                div(class="uk-card  uk-card-default")
                    div(class="uk-card-header uk-padding-small uk-flex")
                        div(class="uk-width-4-5 uk-text-primary") Casa - Habitación
                        a(href="/proyectos/documentacion/editar/1" class="uk-width-1-5 uk-flex uk-flex-middle uk-flex-right uk-animation-toggle uk-link-reset")
                            img(src="/icons/edit.png" class="uk-animation-shake" width="12px" style="margin-right:5px;")
                            div(class="uk-text-primary uk-text-small uk-animation-shake") Editar
                    div(class="uk-card-body uk-padding-small")
                        div(class="uk-text-large uk-text-secondary") 45
                        div(class="uk-text-small" style="margin-top:-7px") Entregables
                        div(class="uk-text-large uk-text-secondary uk-margin-small-top") 15
                        div(class="uk-text-small" style="margin-top:-7px") No entregables
                        div(class="uk-margin-small-top uk-text-light uk-text-small") OBSERVACIONES
                        div(class="uk-text-small uk-text-secondary" style="font-size:13px;line-height:16px;") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. 