extends ../main

block head
    title ConsultarQ - Proyectos
    link(rel="stylesheet" href="/stylesheets/others.css")
    link(rel="stylesheet" href="/stylesheets/oProgressBar.css")
    link(rel="stylesheet" href="/stylesheets/oProyectMenu.css")
block content
    div(class="uk-container")
        div(class="uk-flex uk-flex-between uk-margin-top uk-flex-middle uk-flex-wrap")
            div(class="uk-text-left   uk-text-large   uk-text-bold uk-text-primary uk-margin-bottom") Proyectos
            div(class="uk-flex uk-flex-between uk-flex-wrap uk-width-1-2@m uk-width-1 uk-margin-small-bottom uk-text-small o-proyect-menu-hide")
                a(href="#" class="uk-padding-small uk-padding-remove-vertical" style="color: #6B6B72; text-decoration:none;") DOCUMENTACIÓN
                a(href="#" class="uk-padding-small uk-padding-remove-vertical" style="color: #6B6B72; text-decoration:none; border-bottom: 2px solid #3B86D9; padding-bottom:7px;") ACTIVOS
                a(href="#" class="uk-padding-small uk-padding-remove-vertical" style="color: #6B6B72; text-decoration:none;") INACTIVOS
            div(class="uk-animation-toggle uk-margin-bottom" tabindex="0")
                a(class="uk-text-right uk-flex-inline uk-flex uk-flex-middle uk-text-primary uk-link-heading uk-animation-shake" uk-toggle="target: #user-form")
                    img(src="/icons/more.png" style="width:20px;height:20px;margin-top:3px" class="uk-margin-small-right")
                    div Agregar proyecto
        form(class="uk-flex uk-margin-bottom")
            div(class="uk-search uk-search-default uk-width-expand")
                button(href="#" uk-search-icon)
                input(class="uk-search-input" type="search" placeholder="Buscar...")
                input(class="uk-search-input" type="hidden" name="filter" id="filter" value="name" placeholder="Buscar...")
            //- boton de filtrar
            button(class="uk-button uk-button-primary uk-width-auto" href="#" type="button")
                img(src="/icons/filterWhite.png" style="width:20px;height:20px;" class="")
            div(uk-dropdown="mode: click")
                ul(class="uk-list")
                    li(onclick="putSearch('name')") Nombre
                    li(onclick="putSearch('tipo')") Tipo
                    li(onclick="putSearch('miembro')") Miembro
        div(class="o-proyect-menu-show uk-width-1")
                a(href="#" class="" ) DOC
                a(href="#" class="o-menu-selected") ACTIVOS
                a(href="#" class="") INACTIVOS
                div(class="uk-animation-toggle uk-margin-bottom" tabindex="0")
        div(class="uk-grid-small uk-child-width-1-3@m uk-child-width-1-2@s uk-grid-row-large" uk-grid)
            div()
                div(class="uk-card  uk-card-default")
                    div(class="uk-card-header uk-padding-remove uk-flex" style="background:rgba(190, 59, 192, 0.53);")
                        div(class="uk-width-3-5 uk-margin-small-left uk-margin-small-top uk-margin-small-bottom")
                            div(class="" style="color: #222238;") Nombre del proyecto
                            div(class="uk-text-small") Tipo de proyecto 1
                        div(class="uk-width-2-5 uk-flex uk-flex-right uk-flex-middle")
                            button(class="uk-margin-small-right" style="background:#F1A5A5;border-radius:2px;color:#DC5454;border:none;padding:7px;font-size:8px;") ATRASADO
                    div(class="uk-card-body uk-padding-remove")
                        div(class="uk-width-1 uk-margin-small-top")
                            div(class="o-progress-date-line")
                            div(class="o-progress-date-start" style="background:#BE3BC0;")
                            div(class="o-progress-date-end" style="background:#BE3BC0;")
                            div(class="o-progress-date-today" id="bola1" uk-tooltip="06/01/2020" style="margin-left:93%; border: 1px solid #BE3BC0;" /*Aquí en el margin va el valor del avance, calcularlo de alguna forma, pero no debe pasar de 93% ni ser menos de 5%*/)
                            div(class="o-progress-date-dates")
                                div(class="uk-text-small") 12, JUN, 2020
                                div(class="uk-text-small") 12, NOV, 2020
                    div(class="uk-width-1 uk-flex uk-flex-wrap uk-margin-small-top")
                        div(class="uk-width-2-5")
                            div(class="progress--circle progress--100" style="")
                                div(class="progress__number") 100%
                        div(class="uk-width-3-5 uk-width-1@s uk-width-3-5")
                            div(class="uk-text-large" style="color: #222238;") 22
                            div(class="uk-text-small") Tareas / Documentos listos
                            div(class="uk-text-large" style="color: #222238;") 15
                            div(class="uk-text-small") Tareas / Documentos faltantes
                    div(class="uk-margin-top uk-margin-small-left uk-text-small") MIEMBROS DEL PROYECTO
                    div(class="uk-width-1 uk-flex uk-flex-wrap")
                        div(class="uk-width-2-3 uk-flex uk-flex-wrap uk-margin-bottom")
                            img(src="/img/prueba/perfil1.png" width="33px" class="uk-margin-small-left" style="border-radius:50%; height:33px;object-fit:cover;margin-top:10px;")
                            img(src="/img/prueba/perfil2.png" width="33px" class="uk-margin-small-left" style="border-radius:50%; height:33px;object-fit:cover;margin-top:10px;")
                            img(src="/img/prueba/perfil1.png" width="33px" class="uk-margin-small-left" style="border-radius:50%; height:33px;object-fit:cover;margin-top:10px;")
                            img(src="/img/prueba/perfil3.jpg" width="33px" class="uk-margin-small-left" style="border-radius:50%; height:33px;object-fit:cover;margin-top:10px;")
                        div(class="uk-width-1-3 uk-position-bottom-right uk-flex uk-flex-right uk-flex-middle uk-margin-small-right uk-margin-bottom")
                            img(src="/icons/archivo.png" width="13px" style="margin-right:5px;")
                            div(class="uk-text-small" style="margin-right:10px;") 20
                            img(src="/icons/comment.png" width="13px" style="margin-right:5px;")
                            div(class="uk-text-small") 5
            //- ESTE DIV ES LO MISMO QUE EL DE ARRIBA
            div()
                div(class="uk-card  uk-card-default")
                    div(class="uk-card-header uk-padding-remove uk-flex" style="background:rgba(253, 245, 52, 0.53);" /* va cambiando el background*/)
                        div(class="uk-width-3-5 uk-margin-small-left uk-margin-small-top uk-margin-small-bottom")
                            div(class="" style="color: #222238;") Nombre del proyecto
                            div(class="uk-text-small") Tipo de proyecto 1
                        div(class="uk-width-2-5 uk-flex uk-flex-right uk-flex-middle")
                            button(class="uk-margin-small-right" style="background: #86DDAE;border-radius:2px;color: #129326;border:none;padding:7px;font-size:8px;" /* CAMBIA EL COLOR DEL TEXTO Y BACKGROUND*/) EN TIEMPO
                    div(class="uk-card-body uk-padding-remove")
                        div(class="uk-width-1 uk-margin-small-top")
                            div(class="o-progress-date-line")
                            //- EL COLOR DE LAS BOLITAS DEBE IR CAMBIANDO
                            div(class="o-progress-date-start" style="background: #FDF534;")
                            div(class="o-progress-date-end" style="background: #FDF534;")
                            div(class="o-progress-date-today" uk-tooltip="06/01/2020" style="margin-left:70%; border: 1px solid #FDF534;" /*Aquí en el margin va el valor del avance, calcularlo de alguna forma, pero no debe pasar de 93% ni ser menos de 5%*/)
                            div(class="o-progress-date-dates")
                                div(class="uk-text-small") 27, DIC, 2020
                                div(class="uk-text-small") 04, MAR, 2021
                    div(class="uk-width-1 uk-flex uk-flex-wrap uk-margin-small-top")
                        div(class="uk-width-2-5")
                            div(class="progress--circle progress--99" style="" /*LOS VALORES DEBEN SER REDONDEADOS A MULTIPLOS DE 5, para el 100 porciento se ve mejor si se uusa unvalor diferente como por ejemplo 99*/)
                                div(class="progress__number") 100%
                        div(class="uk-width-3-5 uk-width-1@s uk-width-3-5")
                            div(class="uk-text-large" style="color: #222238;") 77
                            div(class="uk-text-small") Tareas / Documentos listos
                            div(class="uk-text-large" style="color: #222238;") 0
                            div(class="uk-text-small") Tareas / Documentos faltantes
                    div(class="uk-margin-top uk-margin-small-left uk-text-small") MIEMBROS DEL PROYECTO
                    div(class="uk-width-1 uk-flex uk-flex-wrap")
                        div(class="uk-width-2-3 uk-flex uk-flex-wrap uk-margin-bottom")
                            img(src="/img/prueba/perfil1.png" width="33px" class="uk-margin-small-left" style="border-radius:50%; height:33px;object-fit:cover;margin-top:10px;")
                            img(src="/img/prueba/perfil2.png" width="33px" class="uk-margin-small-left" style="border-radius:50%; height:33px;object-fit:cover;margin-top:10px;")
                            img(src="/img/prueba/perfil1.png" width="33px" class="uk-margin-small-left" style="border-radius:50%; height:33px;object-fit:cover;margin-top:10px;")
                            img(src="/img/prueba/perfil3.jpg" width="33px" class="uk-margin-small-left" style="border-radius:50%; height:33px;object-fit:cover;margin-top:10px;")
                        div(class="uk-width-1-3 uk-position-bottom-right uk-flex uk-flex-right uk-flex-middle uk-margin-small-right uk-margin-bottom")
                            img(src="/icons/archivo.png" width="13px" style="margin-right:5px;")
                            div(class="uk-text-small" style="margin-right:10px;") 20
                            img(src="/icons/comment.png" width="13px" style="margin-right:5px;")
                            div(class="uk-text-small") 5
         

